.yx-nav {
	display: inline-block;
	text-align: center;
}

.yx-toolbar {
	padding: 10px;
	float: right;
}

.yx-brand {
	font-size: 20;
}

.yx-search-bar {
	margin: 0;
	display: inline-flex;
	text-align: center;
}

.container {
	height: 100%;
	background-color: ghostwhite;
	margin-top: 52px;
	margin-left: 10%;
	margin-right: 10%;
}

.yx-header {
	font-size: 20px;
}

.covers {
	max-height: 100%;
}

img {
	border: 5px;
	width: auto;
	height: auto;
	max-height: 200px;
}