html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	background-image: url(../images/bg.png);
	background-size: cover;
}

.yx-nav {
	display: inline-block;
	text-align: center;
}

.yx-toolbar {
	padding: 10px;
	float: right;
}

.yx-brand {
	font-size: 20;
}

.yx-search-bar {
	margin: 0;
	display: inline-flex;
	text-align: center;
}

.yx-container {
	height: 100%;
	background-color: ghostwhite;
	overflow: auto;
}


.book-contianer{
	
}

.yx-header {
	font-size: 26px;
	margin: 0 auto;
}

hr {
  clear: both;
  margin: 0;
  height: 0px;
  overflow: hidden;
  border: none;
  background: transparent;
  border-bottom: 1px solid #c5c5da;
  padding: 0;
}
